<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Skills-Web</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <!-- This page needs a form that can capture data about the user's
    first name, last name, job title, and salary requirements. -->
    <form action ="/application">
    	<label>First name: 
    		<input type="text" name="firstname">
    	</label><br>
    	<label>Last name: 
    		<input type="text" name="lastname">
    	</label><br>
    	<label>Salary Requirement: 
    		<input type="text" name="salreq">
    	</label><br>
    	<label>Job Title: 
    		<input type="text" name="jobtitle">
    	</label><br>
    	<input type="submit">
    </form>
</body>
</html>